.skillCard {
    width: 70%;
    margin-top: 10px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

    :global(.ant-card-extra) {
        color: #1890ff;
        cursor: pointer;
    }
}

.addSkills {
    margin: 20px 0;
}