.userHandler {
    height: 64px;
    padding: 0 5px;
    overflow: hidden;
    cursor: pointer;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 7px 10px 10px 0;
        box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    }
}

.userHandler:hover {
    background: rgba(0, 0, 0, 0.05);
}
