.navigation {
    height: 100%;
    transition: .5s;
    background: #ffffff;
    // position: relative;
    // overflow-x: hidden;
    // overflow-y: scroll;
}

.show {
    width: 260px;
    max-width: 260px;
    min-width: 260px;
}

.close {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
}